#div1 {
	width:100px;
	height:100px;
	background-color:#ffffcc;
}

#div2{
	width:100px;
	height:100px;
	background-color:#FF00FF;
}

#div3{
	width:100px;
	height:100px;
	background-color: red;
}
#container{
	width:300px;
	height:300px;
	overflow:auto;
}
#container > div {
	background-color:yellow;
	border:1px solid black;
	width:10%;
	float:left;
	height:10%;
}
#container.child{
	background-color:pink;
}
/*#div2{
	transition-property: width,font-size;
	transition-duration: :0.5s;
	background-color:#ff00ff;
}*/

#timer{
	width:200px;
	height:200px;
	background-color: :yellow;
}